
/* rest styels */
* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

/* fonts */
@font-face {
    font-family: 'font 1';
    src: url('fonts/DESIGNER.otf');
}

/* body */
body{
    background-color: rgb(27, 27, 27);
}


/*Header*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2% 3%;
    background-color: #252525;
    width: 100%;
    position: fixed;
}


/*logo*/
.logo{
    cursor: pointer;
    margin-right: auto;
    padding: 0.2% 10%;
    max-height: 40px;
}

/* nav */
.ConB, li, a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:'font 1';
    font-size: 20px;
}


li{
    display: inline-block;
    padding: 3px 10px;
    list-style: none;
    font-family:'font 1';
    margin-right: 10px;
}


.a1 {
    transition: all 0.3s ease 0s;
}

.a1:hover {
    color:rgb(255, 255, 255);
}

.ConB, li {
    padding: 10px 15px;
    background-color: rgba(124, 101, 138, 0.001);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
}

.ConB:hover{
    background-color: rgba(128, 43, 64, 1);
    color:white;
}



/* Article */ 
  
/*
#mp{
display: flex;
flex-direction: row;
} */
/*-----------------------------------------*/

#s1{
    background-color: rgb(230, 230, 230);
    padding-bottom: 40em;
}

.homepage{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position:top;
}

article{
    width: 100%;
    height: 400px;
    background-color: rgb(230, 230, 230);
}

